.result {
  display: flex;
  margin-bottom: 2em;

  .icon {
    flex: 2em 0 0;
    font-weight: 900;
  }
  .question {
    flex: 1;
    text-align: left;
  }

  &.incorrect {
    color: rgb(114, 1, 1);
    .question {
      text-decoration: strikethrough;
    }
  }
  &.correct {
    color: rgb(11, 107, 139);
  }
}
